<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sxgan.core.mapper.IMusicSongYelpMapper">
    <resultMap id="BaseResultMap" type="cn.sxgan.core.entity.MusicSongYelp">
        <result property="songYelpId" column="song_yelp_id"/>
        <result property="yelpContent" column="yelp_content"/>
        <result property="userId" column="user_id"/>
        <result property="songId" column="song_id"/>
        <result property="isLike" column="is_like"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        song_yelp_id,
            yelp_content,
            user_id,
            song_id,
            is_like,
            create_time,
            update_time
    </sql>
    <sql id="ConditionSql">
        <where>
            <if test="songYelpId != null">
                and song_yelp_id = #{songYelpId,jdbcType=BIGINT}
            </if>
            <if test="yelpContent != null">
                and yelp_content = #{yelpContent,jdbcType=VARCHAR}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="songId != null">
                and song_id = #{songId,jdbcType=BIGINT}
            </if>
            <if test="isLike != null">
                and is_like = #{isLike,jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=DATETIME}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=DATETIME}
            </if>
            <if test="createStartDate != null">
                and create_time <![CDATA[ >= ]]> #{createStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createEndDate != null">
                and create_time <![CDATA[ <= ]]> #{createEndDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateStartDate != null">
                and update_time <![CDATA[ >= ]]> #{updateStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateEndDate != null">
                and update_time <![CDATA[ <= ]]> #{updateEndDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
    <select id="selectMusicSongYelpByCondition" resultType="cn.sxgan.core.entity.MusicSongYelp"
            resultMap="BaseResultMap"
            parameterType="cn.sxgan.core.entity.query.MusicSongYelpQuery">
        select
        <include refid="BaseColumnList"/>
        from music_song_yelp
        <include refid="ConditionSql"/>
    </select>
</mapper>