<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sxgan.core.mapper.IMusicSingerMapper">
    <resultMap id="BaseResultMap" type="cn.sxgan.common.entity.MusicSinger">
        <result property="singerId" column="singer_id"/>
        <result property="singerName" column="singer_name"/>
        <result property="singerPic" column="singer_pic"/>
        <result property="address" column="address"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        singer_id,
            singer_name,
            singer_pic,
            address,
            del_flag,
            create_time,
            update_time
    </sql>
    <sql id="ConditionSql">
        <where>
            <if test="singerId != null">
                and singer_id = #{singerId,jdbcType=BIGINT}
            </if>
            <if test="singerName != null">
                and singer_name = #{singerName,jdbcType=VARCHAR}
            </if>
            <if test="singerPic != null">
                and singer_pic = #{singerPic,jdbcType=VARCHAR}
            </if>
            <if test="address != null">
                and address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=DATETIME}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=DATETIME}
            </if>
            <if test="createStartDate != null">
                and create_time <![CDATA[ >= ]]> #{createStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createEndDate != null">
                and create_time <![CDATA[ <= ]]> #{createEndDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateStartDate != null">
                and update_time <![CDATA[ >= ]]> #{updateStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateEndDate != null">
                and update_time <![CDATA[ <= ]]> #{updateEndDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
    <select id="selectMusicSingerByCondition" resultType="cn.sxgan.common.entity.MusicSinger" resultMap="BaseResultMap"
            parameterType="cn.sxgan.core.entity.query.MusicSingerQuery">
        select
        <include refid="BaseColumnList"/>
        from music_singer
        <include refid="ConditionSql"/>
    </select>
</mapper>