<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sxgan.core.mapper.IMusicAlbumMapper">
    <resultMap id="BaseResultMap" type="cn.sxgan.core.entity.MusicAlbum">
        <result property="albumId" column="album_id"/>
        <result property="albumName" column="album_name"/>
        <result property="albumPic" column="album_pic"/>
        <result property="releaseDate" column="release_date"/>
        <result property="singerId" column="singer_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        album_id,
            album_name,
            album_pic,
            release_date,
            singer_id,
            del_flag,
            create_time,
            update_time
    </sql>
    <sql id="ConditionSql">
        <where>
            <if test="albumId != null">
                and album_id = #{albumId,jdbcType=BIGINT}
            </if>
            <if test="albumName != null">
                and album_name = #{albumName,jdbcType=VARCHAR}
            </if>
            <if test="albumPic != null">
                and album_pic = #{albumPic,jdbcType=VARCHAR}
            </if>
            <if test="releaseDate != null">
                and release_date = #{releaseDate,jdbcType=DATETIME}
            </if>
            <if test="singerId != null">
                and singer_id = #{singerId,jdbcType=BIGINT}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=DATETIME}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=DATETIME}
            </if>
            <if test="createStartDate != null">
                and create_time <![CDATA[ >= ]]> #{createStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createEndDate != null">
                and create_time <![CDATA[ <= ]]> #{createEndDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateStartDate != null">
                and update_time <![CDATA[ >= ]]> #{updateStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateEndDate != null">
                and update_time <![CDATA[ <= ]]> #{updateEndDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
    <select id="selectMusicAlbumByCondition" resultType="cn.sxgan.core.entity.MusicAlbum" resultMap="BaseResultMap"
            parameterType="cn.sxgan.core.entity.query.MusicAlbumQuery">
        select
        <include refid="BaseColumnList"/>
        from music_album
        <include refid="ConditionSql"/>
    </select>
</mapper>