<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sxgan.core.mapper.IMusicListMapper">
    <resultMap id="BaseResultMap" type="cn.sxgan.core.entity.MusicList">
        <result property="listId" column="list_id"/>
        <result property="listName" column="list_name"/>
        <result property="listType" column="list_type"/>
        <result property="listInfo" column="list_info"/>
        <result property="listStyle" column="list_style"/>
        <result property="listPic" column="list_pic"/>
        <result property="playCount" column="play_count"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        list_id,
            list_name,
            list_type,
            list_info,
            list_style,
            list_pic,
            play_count,
            user_id,
            create_time,
            update_time
    </sql>
    <sql id="ConditionSql">
        <where>
            <if test="listId != null">
                and list_id = #{listId,jdbcType=BIGINT}
            </if>
            <if test="listName != null">
                and list_name = #{listName,jdbcType=VARCHAR}
            </if>
            <if test="listType != null">
                and list_type = #{listType,jdbcType=INTEGER}
            </if>
            <if test="listInfo != null">
                and list_info = #{listInfo,jdbcType=VARCHAR}
            </if>
            <if test="listStyle != null">
                and list_style = #{listStyle,jdbcType=VARCHAR}
            </if>
            <if test="listPic != null">
                and list_pic = #{listPic,jdbcType=VARCHAR}
            </if>
            <if test="playCount != null">
                and play_count = #{playCount,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=DATETIME}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=DATETIME}
            </if>
            <if test="createStartDate != null">
                and create_time <![CDATA[ >= ]]> #{createStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createEndDate != null">
                and create_time <![CDATA[ <= ]]> #{createEndDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateStartDate != null">
                and update_time <![CDATA[ >= ]]> #{updateStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateEndDate != null">
                and update_time <![CDATA[ <= ]]> #{updateEndDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
    <select id="selectMusicListByCondition" resultType="cn.sxgan.core.entity.MusicList" resultMap="BaseResultMap"
            parameterType="cn.sxgan.core.entity.query.MusicListQuery">
        select
        <include refid="BaseColumnList"/>
        from music_list
        <include refid="ConditionSql"/>
    </select>

    <select id="selectMusicListByPlayCount" resultType="cn.sxgan.core.entity.MusicList" resultMap="BaseResultMap"
            parameterType="cn.sxgan.core.entity.query.MusicListQuery">
        select
        <include refid="BaseColumnList"/>
        from music_list order by play_count desc limit 7
    </select>
</mapper>